<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
#header{
position: relative; text-align: center; width: 900px; margin: auto; height: 200px;

body {
font: 16px "Carnivalee Freakshow"; margin: auto; position: relative; width: 900px; height: auto; }
}
</style>
    <title>simple auth</title>
</head>
<body>


    {% block content %}

        <h1>Welcome home Page </h1>
        {% for app_list in app_lists %}
        <h1>App id: {{app_list.id}}, App name: {{app_list.name}}, App player: {{app_list.user_id}}</h1>
        {% endfor %}
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        {% else%}

      <center> <a href="{% url 'login_url' %}">login &nbsp;</a> <a href="{% url 'register_url' %}">register</a></center>



        {% endif %}
    {%  endblock %}
</body>
</html>